################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestApplication/obj/Debug
/.vs/trunk/v14/.suo
